{
  "services": [
    {
      "name": "service.example",
      "methods": ["m1", "m2"],
      "config": {
        "clientTimeout": "2000",
        "maxConcurrentRequests": "100"
      },
      "enable": true
    }
  ]
}
